ADDR={{ sws_lab_listen_address | to_json }}
GRPC_ADDR={{ sws_lab_grpc_listen_address | to_json }}
APP_NAME={{ sws_lab_app_name | to_json }}
MAX_BODY_BYTES={{ sws_lab_max_body_bytes }}
MAX_DELAY_MS={{ sws_lab_max_delay_ms }}
TRUST_PROXY_HEADERS={{ sws_lab_trust_proxy_headers | bool | lower }}
